:root {
    --accent-yellow: #ffd60a;
    --second-yellow: #ffc300;
    --main-blue: #013565;
    --light-blue: #b4dbff;
    --dark-blue: #001d3d;
    --main-black: #000813;

    --transparent-black: hsla(215, 100%, 4%, 0.1);

    --border-radius-regular: 0.5rem;
    --border-regular: 0.1rem solid;

    --transition-regular: all 0.1s ease-in-out;
}

/* @font-face {
    font-family: "YourCustomFont";
    src: url("%PUBLIC_URL%/fonts/YourCustomFont.woff2") format("woff2"),
        url("%PUBLIC_URL%/fonts/YourCustomFont.woff") format("woff");
} */

* {
    font-family: "Josefin Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
        Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* outline: black 1px solid; */
}

::selection {
    color: var(--main-black);
    background-color: var(--accent-yellow);
}

body {
    color: var(--main-black);
}

a {
    color: var(--main-blue);
}

.app {
    padding: 1rem;
    background-color: white;
}

.hidden {
    display: none;
}

.home {
    margin-inline: auto;
    max-width: 50rem;
}

.add-bibliography-button {
    position: absolute;
    bottom: 0;
    left: 50%;
}

.bibliography-cards-container {
    display: grid;
    grid-row: 1;
    gap: 0.5rem;
}

.bibliography-card {
    border-radius: var(--border-radius-regular);
    border: var(--border-regular) var(--main-blue);
    text-decoration: none;
    color: var(--main-black);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.6rem;
    box-shadow: 0 0.2rem 0 var(--main-blue);
}
