.context-menu-container {
    position: relative;
    width: fit-content;
    height: fit-content;
}

.context-menu-overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    right: 0;
    top: 0;
}

.context-menu {
    --context-menu-padding: 0.2rem;
    background-color: white;
    position: fixed;
    display: grid;
    grid-row: 1;
    width: max-content;
    border: var(--border-regular) var(--main-blue);
    border-radius: var(--border-radius-regular);
    padding: var(--context-menu-padding);
    z-index: 50;
    box-shadow: 0 0.5rem 1rem 0.1rem var(--transparent-black);
}

.context-menu hr {
    border: 0.05rem solid var(--dark-blue);
    opacity: 0.2;
    margin: var(--context-menu-padding);
}

.context-menu .material-icons-round {
    font-size: 1em;
    transform: translateX(-0.2rem);
}
