.settings-navigate {
    width: 100%;
    padding: 0.5rem;
    background-color: transparent;
    border-color: transparent;
    border-radius: var(--border-radius-regular);
    margin-bottom: 0.5rem;
    text-align: start;
    transition: var(--transition-regular);
}

.settings-navigate:hover {
    background-color: var(--transparent-black);
}
