@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global styles */
* {
    overflow-wrap: break-word;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

::selection {
    @apply text-neutral-black;
    @apply bg-neutral-yellow;
}

h1,
h2,
h3,
h4,
p,
ul {
    margin-bottom: 1rem;
}

a {
    @apply text-secondary-800;
}

ul {
    margin-inline-start: 2.5rem;
}

button {
    @apply font-sans;
    user-select: none;
}

.hanging-indentation {
    padding-left: 1.25rem;
    text-indent: -1.25rem;
}

.csl-entry:has(.csl-left-margin) {
    display: flex;
    align-items: flex-start;
    margin-right: 0.5rem;
}

.csl-entry > .csl-left-margin {
    min-width: fit-content;
}
