@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    overflow-wrap: break-word;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

::selection {
    @apply bg-neutral-yellow text-neutral-black;
}

h1,
h2,
h3,
h4,
p,
ul {
    @apply mb-4;
}

a {
    @apply text-secondary-800;
}

ul {
    @apply ms-10;
}

button {
    @apply select-none font-sans;
}

.hanging-indentation {
    @apply pl-5 indent-[-1.5rem];
}

.csl-entry:has(.csl-left-margin) {
    display: flex;
    align-items: flex-start;
    margin-right: 0.5rem;
}

.csl-entry > .csl-left-margin {
    min-width: fit-content;
}

.transition-regular {
    @apply transition duration-150 ease-in-out;
}
