:root {
    --md-ref-typeface-brand: Poppins;
    --md-ref-typeface-plain: Poppins;
    /* --md-sys-color-primary: #ffd60a;
    --md-sys-color-on-primary: #ffd60a;
    --md-sys-color-primary-container: #ffd60a;
    --md-sys-color-on-primary-container: #ffd60a; */
    background-color: #fcf7fc;
}
